@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Concert+One&family=Open+Sans&display=swap');

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --DARK-COLOR: #0D2354;
    --LIGHT-COLOR: #5572B5;
    --BG-COLOR: #EAEAEA;
    --GREY-COLOR: #7F8187;
    --WHITE-COLOR: #FFF;
    --TITLE-COLOR: #0C1A38;

    /* Fonts */
    --MAIN-FONT-FAMILY: 'Audiowide', sans-serif;
    --SECONDARY-FONT-FAMILY: 'Concert One', sans-serif;
    --BODY-FONT-FAMILY: 'Open Sans', sans-serif;
    --XL-FONT: 2.5rem; /* Icons */
    --BIG-FONT: 2.2rem;
    --SMALL-FONT: 1rem;
    --XS-FONT: 0.75rem;

    /* Padding, margin */
    --SMALL-PADDING: 0.5rem;
    --MEDIUM-PADDING: 1rem;
    --SMALL-MARGIN: 0.25rem;
    --MEDIUM-MARGIN: 0.5rem;
    --BIG-MARGIN:1rem;

    /* Border */
    --BORDER: 3px solid #0C1A38;
}

/* Utility */
img { 
    display: block;
    max-width: 100%;
    height: auto; 
}

.nowrap { white-space: nowrap; }

.bold { font-weight: bold; }

a { text-decoration: none; }

button {
    border: none;
    outline: none; 
    background-color: inherit;
    cursor: pointer;
}

/* Style */
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, min(100px, 1fr));
    grid-auto-rows: 170px auto 115px;
    grid-template-areas: 
        "hd hd hd hd hd hd hd hd hd"
        "as as mn mn mn mn mn mn mn"
        "ft ft ft ft ft ft ft ft ft";
    column-gap: 0.5rem;
    
    background-color: var(--BG-COLOR);
    font-family: var(--BODY-FONT-FAMILY);
    font-size: 1.5em;
}

.header { /* Header */
    grid-area: hd;
}

.aside { /* Aside */
    grid-area: as;
}

.main { /* Main */
    grid-area: mn;
}

.footer { /* Footer */
    grid-area: ft;
}



/* Main, Aside */
i.icons {
    font-size: var(--XL-FONT);
    margin:0 0.5rem;
}

.main a, .aside a {
    color: #000;
}

.main a:hover, .aside a:hover {
    color: #000;
    text-decoration: underline;
}

.body_title { /* Body and aside title style */
    color: var(--TITLE-COLOR);
    font-family: var(--SECONDARY-FONT-FAMILY);
    margin: 0.5rem;
    display: flex;
}

.body_title h2 {
    display: flex;
    flex-flow: row nowrap;
}

.aside h3 {
    color: #0C1A38;
    font-size: 1.75rem;
    font-family: 'Concert One', sans-serif;
    font-weight: 100;
    margin: 0 var(--BIG-MARGIN);
    padding: var(--SMALL-PADDING);
    border-radius: 5px;
}

.aside p {
    font-size: 1.25rem;
    margin: 0 1.5rem;
    padding: var(--SMALL-PADDING);
    border-radius: 5px;
}

.main p {
    font-size: 1.25rem;
    margin: var(--SMALL-MARGIN) var(--BIG-MARGIN);
    padding: var(--MEDIUM-PADDING);
    cursor: pointer;
    border-radius: 5px;
}

.main p:hover {
    background-color: #cccccc7e;
}

